---
layout: page
---

<div class="row">
	- Name : <code>박성준</code><br />
   	- Nickname : <code>realsung</code><br />
	- School : <code>Sunrin Internet High School (Seoul Republic of Korea)</code><br />
	- Department : <code>Information Protection Division</code><br />
	- Club : <code><a href="http://unifox.kr/">Unifox</a></code><br />
	- Contact : <code>sungjun0208@naver.com</code><br />
	- Interests : <code>Dev, Pwn, Rev</code><br />
	- Team : <code><a href="https://defenit.kr">Defenit</a></code><br />
	- Completion : <code>Seoul Women's University School of Talented Education 6th</code><br />
	<br />
	<h3>Achievements</h3>
	<br />
	2019 교외
	<br>
	<code>- 2st place, Christmas CTF (1000USD) (Team Anti PPP)</code>
	<br />
	<code>- 1st place, 전국 고등학생 보안경진대회 (500USD)</code>
	<br />
	<code>- 서울여자대학교 정보보호영재교육원 우수 학생 (500USD)</code>
	<br />
	<code>- 2nd place, 특성화 고교생 화이트해커 경진대회 (1000USD)</code>
	<br />
	<code>- 2nd place, 전국 영재원 정보보안 경진대회 단체전 (300USD + Tablet PC)</code>
	<br />
	<code>- 5th place, holyshied CTF Junior</code>
	<br />
	<code>- Silver prize, 제 14회 정보보호올림피아드 (500USD)</code>
	<br />
	<code>- 3rd place, The Hacking Championship Junior 2019 예선 </code>
	<br />
	<code>- 4th place, 전국 영재원 정보보안 경진대회 개인전 (30USD)</code>
	<br />
	<code>- 7th place, Timisoara CTF Quals</code>
	<br />
	<code>- Finalist, 순천향대학교 정보보호페스티벌</code>
	<br />
	<code>- Finalist, Codegate Junior </code>
	<br />
	<br />
	2019 교내
	<br />
	<code>- 1st place, 고등해커 본선</code>
	<br />
	<code>- 1st place, 교내 서버 구축대회</code>
	<br />
	<code>- Encouragement prize, 교내 네트워크 구축대회</code>
	<br />
	<code>- 3rd place, 고등해커 예선</code>
	<br />
	<code>- 2nd place, 교내 해킹방어대회</code>
	<br />
	<br />
	2018 교외
	<br />
	<code>- 1st place, 제 18회 해킹캠프 (POC Ticket)</code>
	<br />
	<code>- 4th place, KYSIS CTF (30USD)</code>
	<br />
	<br />
	2018 교내
	<br />
	<code>- Bronze prize, 고등해커 본선</code>
	<br />
	<br />
	2017 교외
	<br />
	<code>- Gold prize, 소프트웨어 올림피아드 </code>
	<br />
	<br />
	해외
	<br />
	<code><a href="https://ctftime.org/event/948">- 1st place, 2019 UTC-CTF (Team Defenit)</a></code>
	<br />
	<code><a href="https://ctftime.org/event/926">- 16th place, 2019 X-MAS CTF (Team Defenit)</a></code>
	<br />
</div>
