---
layout: page
---

<div class="row">
   	- Nickname : <code>realsung</code><br />
	- School : <code>Sunrin Internet High School (Seoul Republic of Korea)</code><br />
	- Contact : <code>sungjun0208@naver.com</code><br />
	- Interests : <code>Dev, Pwn, Rev</code><br />
	- Team : <code>Defenit</code><br />
	<br />
	<br />
	Achievements
	<br />
	2019 교외
	<br />
	<code>- 1st place, 전국 고등학생 보안경진대회 (500USD)</code>
	<br />
	<code>- 서울여자대학교 정보보호영재교육원 우수 학생 (500USD)</code>
	<br />
	<code>- 2nd place, 특성화 고교생 화이트해커 경진대회 (1000USD)</code>
	<br />
	<code>- 2nd place, 전국 영재원 정보보안 경진대회 (300USD + Tablet PC)</code>
	<br />
	<code>- 5th place, holyshied CTF Junior</code>
	<br />
	<code>- Silver prize, 제 14회 정보보호올림피아드 (500USD)</code>
	<br />
	<code>- 3rd place, The Hacking Championship Junior 2019 예선 </code>
	<br />
	<code>- 4th place, 서울여자대학교 정보보안 경진대회 (200USD)</code>
	<br />
	<code>- 7th place, Timisoara CTF Quals</code>
	<br />
	<code>- Finalist, 순천향대학교 정보보호페스티벌</code>
	<br />
	<code>- Finalist, Codegate Junior </code>
	<br />
</div>
